<?xml version="1.0" encoding="utf-8" standalone="no"?>

<package version="2.0" xmlns="http://www.idpf.org/2007/opf" unique-identifier="bookid">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf">
    <dc:identifier id="bookid">{{uid}}</dc:identifier>
    <dc:title>{{title}}</dc:title>
    <dc:creator opf:role="aut">{{author}}</dc:creator>
    <dc:language>zh-CN</dc:language>
  </metadata>
  <manifest>
    <item id="ncxtoc" href="toc.ncx" media-type="application/x-dtbncx+xml" />
    <item id="htmltoc" href="book-toc.html" media-type="application/xhtml+xml" />
    <item id="css" href="style.css" media-type="text/css" />
    <item id="cover" href="cover.html" media-type="application/xhtml+xml" />
    {% for ch in chapters %}
    <item id="chapter_{{ch.index}}" href="{{ch.index}}.html" media-type="application/xhtml+xml" />
    {% endfor %}
  </manifest>
  <spine toc="ncxtoc">
    <itemref idref="cover" linear="no" />
    <itemref idref="htmltoc" linear="yes" />
    {% for ch in chapters %}
    <itemref idref="chapter_{{ch.index}}" linear="yes" />
    {% endfor %}
  </spine>
  <guide>
    <reference href="cover.html" type="cover" title="Cover" />
    <reference href="book-toc.html" type="toc" title="Table Of Contents" />
  </guide>
</package>